<div class="text-layout">
    <h1> {{ name | titlecase }} </h1>
    <h1> {{ value | number }} </h1>
    <h1> {{ obj | json }} </h1>
</div>

<button pButton
    label="Android"
    class="p-button-help"
    icon="pi pi-android" 
    iconPos="right" 
></button>

<p-card 
    [header]="name | titlecase"
    subheader="Subheader Simple Card"
>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card>